{% extends 'base.html' %}

{% block content %}

<div>
    <div class="container-fluid d-flex justify-content-center">
        <form method="POST" action="" sytle="width: 40%;" enctype="multipart/form-data">
            
            <!-- ADD THIS TAG IN HTML FORMS WITH POST REQUESTS-->
            {% csrf_token %}
            
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input name="image" type="file" class="form-control my-2" id="inputImage">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
    <div>
        {{label}}
    </div>
</div>

{% endblock  %}